*.class
*.log
Notes.org

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/project/
project/plugins/project/

# En deploy/ se despliega el servidor, pero no es parte del proyecto
deploy/*

# Scala-IDE specific
.scala_dependencies
.worksheet
/bin/

# Eclipse things
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml

# IntelliJIdea things
.idea
.idea/*

# Ensime
.ensime*

# VSCode
.vscode
